
body.body {
  background-color: lightgrey;
}

div.div1 {
  margin: auto;
  width: 25%;
}

iframe.frame1 {
  margin-top: 8px;
  height: 250px;
  border-color: hotpink;
  border-width: 2px;
}

div.div2 {
  padding-top: 25px;
  border-width: 200px;
margin: auto;
width: 90%;
}

img.img1 {
  height: 200px;
  width: 200px;
  border: solid 2px black;
  border-radius: 10px;
}

div.div3 {
  float: right;
width: 50%;
margin-top: -10px
}

.p1 {
width: 300px;
background-color: hotpink;
padding-top: 35px;
padding-bottom: 6px;
margin-top: -10px;
margin-left: 200px;
font-family: Arial;
font-size: 12px;
float: left;
}

.p2 {
  width: 300px;
  margin-left: 200px;
  background-color: pink;
  padding-top: 30px;
  margin-top: -16px;
  font-family: Courier;
  font-weight: lighter;
  float: left;
}

.p3 {
  width: 300px;
  margin-left: 200px;
  background-color: lightpink;
  padding-top: 50px;
  margin-top: -16px;
  font-family: Corsiva;
  float: left;
}

.orangeButton {
  background-color: orange;
  border-radius: 5px;
  width: 200px;
  color: white;
  border-width: 0px;
  height: 30px;
  margin-top: 10px;
  margin-left: 250px;
}

.navBar {
  list-style-type: none;
  margin: auto;
  padding: 0px 300px;
  background-color: black;
}

li {
  display: inline-flex;
  justify-content: center;
  text-align:center;
}

li a {
  color: white;
  text-align: center;
  padding: 12px 60px;
  margin: auto;
  text-decoration: none;
  display: inline-block;
}

li a:hover {
  background-color: orange;
}

.active {
background-color: orange;
}

.bottomDiv {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
