.firstRow-Image {
position: relative;
width: 100%;
}

.firstRow-floatingInfoBox {
    position: absolute;
    background-color: rgba(163, 154, 154, 0.4);
    width: 30%;
    right: 3%;
    top: 100%;
    text-align: center;
}

.clickMeButton {
    top: 45px;
}